@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}


<section class="btnTopSection">
    <div class="row">
        <div class="col-md-5 TiteSEction pl-5">
            <a class="LayoutActionLink" href="#">
                <i class="fas fa-sync-alt"></i>
            </a>
            <a class="LayoutActionLink" href="#">
                more
            </a>
        </div>
        <div class="col-md-7 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Export to Excel
            </a>
            <a class="LayoutActionLink" href="/Home/Contact">
                Add new User +
            </a>

        </div>

    </div>

</section>
<section class="TableSection ">
    <div class="row">
        <div class="col-md-2 TiteSEction pl-5">
            <p class="LayoutsH1">
               User List
            </p>
        </div>
        <div class="col-md-10 LinksSEction">
            <a class="LayoutActionLink" href="#">
                Today
            </a>
            <a class="LayoutActionLink" href="#">
                Week
            </a>
            <a class="LayoutActionLink" href="#">
                Month
            </a>
        </div>

    </div>
    <table id="example" class="display nowrap" style="width:100%">
        <thead class="THeader">
            <tr>
                <th> <input type="checkbox" class="TblCHk">User Id</th>
                <th>User</th>
                <th>Email Adress</th>
                <th>Status</th>
                <th>Plans</th>
                <th>Date Created</th>
                <th>User Details</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>

            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>

            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>

            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>

            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>

            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="red">Basic</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles yellow">User</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt"></i>Active <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt red"></i>Inactive <p class="LastSeen">Since 3 hours</p></td>
                <td><span class="parrot">Advanced</span></td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>
            <tr>
                <td><input type="checkbox" class="TblCHk">55670-122-PA</td>
                <td>Steve Horton <p class="roles DarkGrey">Admin</p></td>
                <td>Steve@gmail.com</td>
                <td><i class="fas fa-dot-circle activeDOt GeryDark"></i>Pending <p class="LastSeen">Since 3 hours</p></td>
                <td>Pro</td>
                <td>28 Feb 2020</td>
                <td><span class="red">click here</span></td>
                <td class="ActionsEdit"><i class="far fa-edit"></i> <i class="fas fa-trash-alt red"></i></td>
            </tr>


        </tbody>
    </table>
</section>






