@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tekhqs<br />
    20 tayrman Street<br />
    <abbr title="Phone">P:</abbr>
    090078601
</address>

<address>
    <strong>Mail:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing Mail:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>