<style> 
    .SideBarHeader{
        background-color:red;
        text-align:center;
        padding-top:30px;
        padding-bottom:30px;
            
    }
    .SideBarBody{
        height:100vh;
        background-color:grey
    }
</style>


<div class="row">
    <div class="col-md-3 SideBarNavi">
        <div class="col-md-12 SideBarHeader">
            Logistic Logo
        </div>
        <div class="col-md-12 SideBarBody">

        </div>
    </div>
    <div class="col-md-9">

    </div>

</div>