@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}
\


<div class="row">

    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>
                
                <li>Dashboard<span class="slash">/</span></li>
                <li>Users<span class="slash">/</span></li>
                <li>User Management<span class="slash">/</span></li>
                <li>Create User</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>

        <div class="col-xs-12 CreateUserSection pl-5">
            <h4 class="text-left">Create User</h4>
            <div class="row CreateUserform">
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="SingleInput">
                        <label for="Email">Email<span>*</span></label>
                        <input type="email" class="form-control input-group" placeholder="Enter Email Here" id="Email" />
                    </div>

                    <div class="SingleInput">
                        <label for="Password">Password<span>*</span></label>
                        <input type="password" class="form-control" placeholder="Enter password Here" id="Password" />
                    </div>

                    <div class="SingleInput">
                        <label for="ConfirmPassword">Confirm Password<span>*</span></label>
                        <input type="password" class="form-control" placeholder="Enter password Here" id="ConfirmPassword" />
                    </div>

                    <div class="SingleInput">
                        <label for="Phone">Phone</label>
                        <input type="tel" class="form-control" placeholder="Optional" id="Phone" />
                    </div>

                    <div class="SingleInput">
                        <label for="Mobile">Mobile<span>*</span></label>
                        <input type="tel" class="form-control" placeholder="Enter Your Active Contact No." id="Mobile" />
                    </div>

                    <div class="SingleInput">
                        <label for="Pager">Pager</label>
                        <input type="tel" class="form-control" placeholder="Optional" id="Pager" />
                    </div>

                    <div class="SingleInput">
                        <label for="Description">Description<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Enter Description" id="Description" />
                    </div>

                </div>
                <div class="col-sm-6 col-xs-12 form-group">

                    <div class="SingleInput">
                        <label for="UserID">UserID<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Enter User ID" id="UserID" />
                    </div>

                    <div class="SingleInput">
                        <label>User Group <span>*</span></label>
                        <select class="form-control">
                            <option>-- Select --</option>
                        </select>
                    </div>

                    <div class="CheckBoxSection">
                        <div class="SingleInput">
                            <label for="IsEnabled">Enabled <span>*</span></label>
                            <input type="checkbox" id="IsEnabled" />
                        </div>

                        <div class="SingleInput">
                            <label for="SalesRep">Sales Rep <span>*</span></label>
                            <input type="checkbox" id="SalesRep" />
                        </div>
                    </div>

                    <div class="CheckBoxSection">
                        <h4>Wharehouse / Terminal Access</h4>
                        <div class="SingleInput">
                            <label for="IsSelected">Select / Unselect all <span>*</span></label>
                            <input type="checkbox" id="IsSelected" />
                        </div>

                        <div class="SingleInput">
                            <label for="CTKPARCO">1-CTK-PARCO<span>*</span></label>
                            <input type="checkbox" id="CTKPARCO" />
                        </div>
                    </div>

                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <button class="Button">Cancel</button>
                    <button class="Button">Create</button>
                </div>
            </div>

        </div>

    </div>


</div>