

@{
    Layout = "~/Views/Shared/_LayoutLS.cshtml";
}



<div class="row">

    <div class="FormBody col-md-12">
        <div class="col-md-12 bread">
            <ul class="breadcrumb">
                <li>
                    <i class="fas fa-angle-left"></i>
                </li>

                <li>Dashboard<span class="slash">/</span></li>
                <li>Users<span class="slash">/</span></li>
                <li>User Management<span class="slash">/</span></li>
                <li>Create User</li>
            </ul>
        </div>

        <div class="col-xs-12 PageTabs pl-5">
            <button class="Button">General</button>
            <button class="Button">Acounts</button>
            <button class="Button">Shippers</button>
            <button class="Button">Zendesk</button>
            <button class="Button">RF</button>
            <button class="Button">Edit History</button>
        </div>

        <div class="col-xs-12 CreateUserSection pl-5">
            <h4 class="text-left">Create Order</h4>
            <div class="row CreateUserform">
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="SingleInput">
                        <label for="poNumber">PO Number<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Account ID" id="PONumber" />
                    </div>
                    <div class="SingleInput">
                        <label for="status">Status<span>*</span></label>
                        <select id="Status" class="form-control">
                            <option> Open </option>
                            <option> Inprocess </option>
                            <option> Hold </option>
                            <option> Completed </option>
                            <option> Void </option>
                        </select>
                    </div>





                </div>
                <div class="col-sm-6 col-xs-12 form-group">

                    <div class="SingleInput">
                        <label for="acountNo">Account Number<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Partner description" id="AccountNo" />
                    </div>

                    <div class="SingleInput">
                        <label for="supplierNo">Supplier<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Partner description" id="SuplierNo" />
                    </div>



                </div>

            </div>



        </div>



        <div class="col-xs-12 CreateUserSection pl-5">
            <h4 class="text-left">Partners</h4>
            <div class="row CreateUserform">
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="SingleInput">
                        <label for="acount">Account<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Partner description" id="Account" />
                    </div>

                    <div class="SingleInput">
                        <label for="supplier">Supplier<span>*</span></label>
                        <input type="text" class="form-control" placeholder="Partner description" id="Suplier" />
                    </div>






                </div>
                <div class="col-sm-6 col-xs-12 form-group">


                    <div class="SingleInput">
                        <label for="blft">Career</label>
                        <input id="Career" style="color:#0056b3" class="form-control" />

                    </div>

                </div>

            </div>



        </div>





        <div class="col-xs-12 CreateUserSection pl-5">
            <h4 class="text-left">Dates</h4>
            <div class="row CreateUserform">
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="SingleInput">
                        <label for="arrivalDate">Expected Arrival Date<span>*</span></label>
                        <input type="datetime" class="form-control" placeholder="Date" id="ArrivalDate" />
                    </div>

                </div>


            </div>



        </div>

        <div class="col-xs-12 CreateUserSection pl-5">
            <h4 class="text-left">Other Instuctions</h4>
            <div class="row CreateUserform">
                <div class="col-sm-6 col-xs-12 form-group">
                    <div class="SingleInput">
                        <textarea type="datetime" class="form-control" placeholder="Add Instructions Here" id="ArrivalDate"></textarea>
                    </div>

                </div>


            </div>



        </div>


        <div class="col-xs-12 CreateUserSection pl-5">


            <div class="row">
                <div class="col-xs-12">
                    <button class="Button">Cancel</button>
                    <button id="CreateUser" onclick="CreateUsers()" class="Button">Create</button>
                </div>
            </div>

        </div>

    </div>


</div>

<div class="modal fade" id="CreatCareerModal" tabindex="-1" role="dialog" aria-labelledby="CreatUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="CreatUserModalLabel"> Create Career</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-xs-12 CreateUserSection pl-5">
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="CheckBoxSection">
                                <div class="SingleInput">
                                    <label for="IsEnabled">Enabled <span>*</span></label>
                                    <input type="checkbox" id="IsEnabled" />
                                </div>

                                @*<div class="SingleInput">
                                        <label>User Role <span>*</span></label>
                                        @Html.DropDownList("RoleId", new SelectList(ViewBag.UserRole, "UserRoleID", "UserRoleName"), "-- Select --", new { @class = " form-control" })

                                    </div>*@
                            </div>
                            <div class="SingleInput">
                                <label for="Description">Description<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Description" id="Description" />
                            </div>
                            <div class="SingleInput">
                                <label for="AccountId">Account ID<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Account ID" id="AccountId" />
                            </div>
                            <div class="SingleInput">
                                <label for="AccountId">Billing ID<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Billing" />
                            </div>
                            <div class="SingleInput">
                                <label for="name">
                                    Contact Name<span>*</span>
                                </label>
                                <input type="email" class="form-control input-group" placeholder="Enter Email Here" id="Name" />
                            </div>
                            <div class="SingleInput">
                                <label for="Email">
                                    Contact Email<span>*</span>
                                </label>
                                <input type="email" class="form-control input-group" placeholder="Enter Email Here" id="Email" />
                            </div>



                            <div class="SingleInput">
                                <label for="Phone">Contact Phone</label>
                                <input type="tel" class="form-control" placeholder="Optional" id="Phone" />
                            </div>









                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="scac">SCAC</label>
                                <input type="text" class="form-control" placeholder="SCAC" />
                            </div>
                            <div class="SingleInput">
                                <label for="scac">MC #</label>
                                <input type="text" class="form-control" placeholder="MC #" />
                            </div>
                            <div class="SingleInput">
                                <label for="status">Type</label>
                                <select class="form-control">
                                    <option>
                                        UPS
                                    </option>
                                    <option>
                                        FEDEX
                                    </option>
                                    <option>
                                        USPS
                                    </option>
                                    <option>
                                        LTL
                                    </option>
                                </select>
                            </div>

                        </div>

                    </div>



                </div>



                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Billing Adress</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="SingleInput">
                                <label for="Adres1">Adress 1<span>*</span></label>
                                <input type="text" class="form-control input-group" placeholder="Enter Adress Here" id="Adress1" />
                            </div>

                            <div class="SingleInput">
                                <label for="Adres2">Adress 2<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 2" id="Adress2" />
                            </div>

                            <div class="SingleInput">
                                <label for="Adres3">Adress 3<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 3" id="Adress3" />
                            </div>

                            <div class="SingleInput">
                                <label for="Adres4">Adress 4<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 4" id="Adress4" />
                            </div>




                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="city">City<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your City" id="City" />
                            </div>

                            <div class="SingleInput">
                                <label for="state">State<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your State" id="State" />
                            </div>
                            <div class="SingleInput">
                                <label for="postalCode">Postal Code<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your Postal Code" id="PostalCode" />
                            </div>
                            <div class="SingleInput">
                                <label for="country">Country<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your Country" id="Country" />
                            </div>

                        </div>

                    </div>



                </div>



                <div class="col-xs-12 CreateUserSection pl-5">
                    <h4 class="text-left">Shipping  Adress</h4>
                    <div class="row CreateUserform">
                        <div class="col-sm-6 col-xs-12 form-group">
                            <div class="SingleInput">
                                <label for="usePrev">Use Billing Adresses <span>*</span></label>
                                <input onclick="setBillingValue()" type="checkbox" id="UsePrev" />
                            </div>
                            <div class="SingleInput">
                                <label for="ShippingAdres1">Adress 1<span>*</span></label>
                                <input type="text" class="form-control input-group" placeholder="Enter Adress Here" id="ShippingAdress1" />
                            </div>

                            <div class="SingleInput">
                                <label for="ShippingAdres2">Adress 2<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 2" id="ShippingAdress2" />
                            </div>

                            <div class="SingleInput">
                                <label for="ShippingAdres3">Adress 3<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 3" id="ShippingAdress3" />
                            </div>

                            <div class="SingleInput">
                                <label for="ShippingAdres4">Adress 4<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Adress 4" id="ShippingAdress4" />
                            </div>




                        </div>
                        <div class="col-sm-6 col-xs-12 form-group">



                            <div class="SingleInput">
                                <label for="Shippingcity">City<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your City" id="ShippingCity" />
                            </div>

                            <div class="SingleInput">
                                <label for="Shippingstate">State<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your State" id="ShippingState" />
                            </div>
                            <div class="SingleInput">
                                <label for="ShippingpostalCode">Postal Code<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your Postal Code" id="ShippingPostalCode" />
                            </div>
                            <div class="SingleInput">
                                <label for="Shippingcountry">Country<span>*</span></label>
                                <input type="text" class="form-control" placeholder="Enter Your Country" id="ShippingCountry" />
                            </div>

                        </div>

                    </div>

                    <div class="row">
                        <div class="col-xs-12">
                            <button class="Button">Cancel</button>
                            <button id="CreateUser" onclick="CreateUsers()" class="Button">Create</button>
                        </div>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button class="Button" data-dismiss="modal">Close</button>
                <button class="Button">Save changes</button>
                <button id="ClikeMeToOpenCareer" style="display:none" class="dropdown-item" data-toggle="modal" data-target="#CreatCareerModal">Change Password</button>



            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        
        $("#Career").kendoDropDownList({
            filter: "startswith",
            dataTextField: "ProductName",
            dataValueField: "ProductID",
            headerTemplate: '<div onclick="ClickForModalCareer()" style="cursor:pointer" class="dropdown-header k-widget k-header ">' +
                ' <a  style="font-size:16px; text-decoration:none;" class="linkColor" > <i  style="margin-right:15px" class="fas fa-plus"></i> Add New</a>' +
                '</div>',
            optionLabel: "Select",
            dataSource: {
                type: "odata",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "https://demos.telerik.com/kendo-ui/service/Northwind.svc/Products",
                    }
                }
            }
        });
    });



</script>

