<!DOCTYPE html>
<html class="full-container-height" style="height: 100% !important;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic Solutions</title>
        @RenderSection("styles", required: false)
        <link href="~/Content/StyleLS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>

<body style="height: 100% !important;">
    @RenderBody()

</body>
</html>
