<!DOCTYPE html>
<html class="full-container-height" style="height: 100% !important;">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logistic Solutions</title>
    <link href="~/Content/StyleLS.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
        @RenderSection("styles", required: false)
</head>

<body style="        height: 100% !important;
        background-image: url('../../Images/SignIn/bg.jpg');
">
    <div class="container">
        @RenderBody()

    </div>

</body>
</html>
