/*LoginLayoutCss Starts*/
body {
    font-family: 'Roboto' !important;
}
.bodyBg {
    background-image: url('/Content/Images/SignIn/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover
}
.body-content {
    height: 100vh
}

.SignInSection {
    height: 80vh;
    padding-top: 10%
}

    .SignInSection .row {
        height: 100%
    }

.VerticalyCenter {
    display: flex;
    align-items: center
}

.HorizontalyCenter {
    display: block;
    margin: 0 auto;
    float: none !important
}

.ImgSection {
    background-image: url('/Content/Images/SignIn/SignIn.png');
    background-repeat: no-repeat;
    background-size: cover;
}

    .ImgSection img {
        width: 100%;
    }

.InputSection {
    height: 100%;
    background-color: #f4f7fc
}

.Heading {
    color: #2A3142;
    font-size: 24px;
}

.SignInSection input {
    color: #A6AEBC;
    font-size: 14px;
    margin-top: 15px;
    border: 1px solid #DEE1E6;
}

.RightAlign {
    text-align: right
}

    .RightAlign p {
        padding-top: 15px;
        color: #2A3142
    }

.backAction {
    padding: 8px 30px !important;
    font-size: 14px !important;
    border: 1px solid #A7A9AC !important;
    border-radius: 25px !important;
    text-decoration: none !important;
    color: #A7A9AC !important;
    margin-right: 7px !important;
    height: 40px !important;
}

.SignInAction {
    padding: 8px 30px !important;
    font-size: 14px !important;
    border: 1px solid #2A3142 !important;
    border-radius: 25px !important;
    text-decoration: none !important;
    color: white !important;
    background-color: #2A3142 !important;
    margin-left: 7px !important;
    height: 40px !important;
}

.Actions {
    padding-top: 15px;
}

.Contain {
    height: 100%;
    border-radius: 5px;
    padding: 0;
}

.Main-heading {
    font-size: 30px;
    color: white
}

.text {
    font-size: 16px;
    color: white
}

@media only screen and (max-width: 600px) {
    .backAction {
        padding: 12px 15px;
    }

    .SignInAction {
        padding: 12px 15px;
    }
}
/*LoginLayoutCss Starts Ends Here*/ 


/*SlayoutCss Starts*/

.SideBarHeaderLeft {
    height: 17vh;
    background-color: #2A3142;
    z-index:6
}
.BarHeaderRight {
    height: 17vh;
    background-color: #FFFFFF;
    z-index: 6
}
.SideBarBody {
    height: 100vh;
    background-color: #FFFFFF
}
.BodySection {
    background-color: #F7F8F9;
    height:auto;
    padding:50px
    }
.RightItems{
    width:fit-content;
    margin-left:auto
}
.LayoutsH1 {
    color: #32394D;
    font-size:24px;
}
/*.HeaderIcons {
    margin-left: 20px;
    /*font-size: 25px;
    color: #2A3142;
}*/
.HeaderIcons {
    margin-left: 20px;
    width: 40px
}
.menu {
    margin: 0;
    padding: 40px 0;
    text-align: left;
    padding-left: 10px;
}

     .menu li {
        list-style: none;
    }

         .menu li a {
            display: block;
            padding: 10px 0;
            color: #A6AEBC;
            font-size: 14px;
            text-decoration: none;
        }

            .menu li a:hover {
                color: #2A3142;
            }

         .menu li ul li a {
            text-transform: capitalize;
        }

.menu .has-sub .arrow {
    padding-left: 15px;
}
    .menu .TitleIcon{
        padding-right:20px;
    }

    .menu ul {
        padding: 5px 12px;
        border-left: 1px solid #ccc;
        margin: 10px 0;
        margin-left: 8px;
        display: none;
    }

    .menu ul li {
        padding: 3px 0;
    }

        .menu ul a {
            display: block;
            color: #A6AEBC;
            font-size: 14px;
            font-weight: inherit;
        }

        .menu ul a:hover {
            color: #2A3142;
        }
.SearchFeild {
    border: 3px solid #EBEBEB;
    width: 64vh;
    height: 50px;
    border-radius: 30px;
    outline: none !important;
    color: #32394D;
    padding-left: 30px;
    background-image: url('../Images/LayoutSi/search (2).png');
    overflow: hidden !important;
    background-repeat: no-repeat !important;
    background-size: 22px 22px !important;
    background-position: 95% 50%
}
.mt0{
    margin:0 0 !important;
}


@media only screen and (max-width: 1199px) {
    .SearchFeild{
        width:32vh;

    }
    .HeaderIcons{
        margin-left:2px;
        width:32px;
    }
    .LayoutsH1{
        margin-left:15px;
        margin-top:1vh
    }

}
@media only screen and (max-width: 429px) {
    .SearchFeild {
        width: 20vh !important;
        background: none
    }
    .HeaderIcons{
        width:29px !important;
    }

}
    .BurgerMenu {
        display: block;
        width: 35px;
        height: 5px;
        background-color: black;
        margin: 6px 0;
    }

.MobileSideBar {
    position: absolute;
    top: 0;
    left: -75%;
    width: 75%;
    height: 100vh;
    background-color: #FFFFFF;
    transition: all 0.9s ease;
    text-align: center;
    box-sizing: border-box;
    z-index: 5;
    overflow-y: scroll;
    padding-top:200px;
        
}
    .MobileSideBar.MobileSideBaractive {
        left: 0 !important;
       
    }


    /*TablePadding*/
/*.TableSection{
    padding-top:100px;
}*/


/*DAtatablesEditing*/




.dataTables_wrapper{
    padding:30px;
}
.dataTables_scroll .THeader th {
    padding: 25px 18px !important;
    border-bottom: 1px solid #ddd !important;
    color: #212121 !important;
    font-weight: 500
}
.dataTables_scrollBody .THeader th {
    padding: 0 0 !important;
    border-bottom: none !important;
}
table.dataTable tbody th, table.dataTable tbody td {
    padding: 25px 18px !important;
    color: #A6AEBC !important
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd{
    background-color:white !important
}
.THeader{
    background:white
}
.TiteSEction{
    padding-left:50px;
}
.LinksSEction{
    text-align:right;
}
    .LayoutActionLink {
        background-color: #fff;
        color: #ccc;
        padding: 5px 15px;
        border-radius: 20px;
        border-color: #ccc;
        border: 1px solid #ccc;
        margin-right: 30px;
    }

        .LayoutActionLink:hover {
            background-color: #2A3142;
            color: #fff;
            transition: all 0.7s ease-in-out;
            text-decoration: none
        }
.TableSection {
    padding-top: 50px;
    background: white;
    padding-bottom:50px;
}
.btnTopSection {
    padding-top: 23px;
    padding-bottom: 23px;
    background: white;
    margin-bottom:50px;
}
.footerSection {
    padding: 23px;
    background: white;
    
    margin-top: 50px;
}
.footerSection p {
    display:inline-block;
    padding-right:30px;
    font-size:14px;
    color:#212121

}
.roles {
    width: fit-content;
    padding: 4px 15px;
    font-size: 12px;
    color: black;
    margin: 0;
    border-radius:3px
}
.yellow{
    background-color:orange;
    color:white
}
.DarkGrey{
    background-color:#32394D;
    color:white;
}
.activeDOt {
    color: #00e600;
    margin-right: 10px;
}
.LastSeen {
    width: fit-content;
    font-size: 12px;
    color: black;
    margin: 0;
    padding-left: 25px;
}
.parrot {
    color: #00e600
}
.red{
    color:red !important
}
.GeryDark {
   color: #32394D !important;
}
.green{
    color:darkseagreen;
}
.purple{
    color:mediumpurple
}
.orange{
    color:orange
}
.skyBlue{
    color:deepskyblue
}
.paginate_button{
    background:transparent !important;
    border:none !important;
    color:#ccc !important
}
    .paginate_button i {
       
        color: #ccc !important
    }
    .paginate_button.previous {
        background: transparent !important;
        border: 1px solid #ccc !important;
        border-radius: 100% !important;
        color: #ccc !important
    }
    .paginate_button.next {
        background: transparent !important;
        border: 1px solid #ccc !important;
        border-radius: 100% !important;
        color: #ccc !important
    }
.TblCHk{
    margin-right:10px;

}
.ActionsEdit i{
    margin-right:10px;
    font-size:16px;
}

/*UserCreate*/

.slash{
    padding-left:12px;
    color:#ccc
}


.FormBody {
    padding: 15px;
}

.breadcrumb {
    padding: 0px;
    background-color: transparent !important
}

    .breadcrumb li {
        color: #2A3142;
        padding-left: 12px;
    }

        .breadcrumb li:nth-last-child(1) {
            color: #ccc;
        }

    .breadcrumb i {
        font-size: 23px;
        color: #ccc;
    }

.CreateUser,
.PageTabs {
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px
}

.Button {
    background-color: #fff;
    color: #ccc;
    padding: 5px 25px;
    border-radius: 20px;
    border-color: #ccc;
    border: 1px solid #ccc;
    margin-right: 5px;
}

    .Button:hover {
        background-color: #2A3142;
        color: #fff;
        transition: all 0.7s ease-in-out;
    }

.CreateUserSection {
    background-color: #fff;
    margin-top: 15px;
    padding: 15px 15px 30px;
}

.CreateUserform label {
    min-width: 30%;
    display: inline-block;
}

    .CreateUserform label span {
        color: #2A3142;
    }

.CreateUserform input,
.CreateUserform select {
    max-width: 60%;
    display: inline-block;
}

.CreateUserform .SingleInput {
    margin-bottom: 15px;
}

.CreateUserform .CheckBoxSection {
    margin-top: 30px;
}

    .CreateUserform .CheckBoxSection .SingleInput {
        margin-bottom: 5px;
    }