
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="row class-divLoginForm pt-5 pl-5 ml-5">
    <div class="col-3 VerticalyCenter ImgSection" style="padding-left: 2px;">
        <div class="col-12">
            <p class="text">
                Welcome to
            </p>
            <p class="Main-heading">
                Logistics <span style="font-weight:bold">Solutions</span>
            </p>

        </div>
    </div>
    <div class="InputSection align-items-center col-6 flex-column pr-4 pt-5">
        <div class="Heading form-row ml-5 mt-5 pl-4 pt-5">
            <p>
                Sign In
            </p>
        </div>
      
        <div class="col-9 justify-content-center ml-5">
            
            <form id="id-loginForm">
                <div class="form-group">
                    @(Html.Kendo().TextBox().Name("id-TxtUserId").HtmlAttributes(new { @class = "form-control", @placeholder = "UserId/ Name *", @required = "required", @validationMessage = "Username is required" }).Deferred())
                    <span class="k-invalid-msg" data-for="id-TxtUserId"></span>
                </div>
                <div class="form-group">
                    @(Html.Kendo().TextBox().Name("id-TxtPassword").HtmlAttributes(new { @class = "form-control", @placeholder = "Password *", @required = "required", @validationMessage = "Password is required", @type = "password" }).Deferred())
                    <span class="k-invalid-msg" data-for="id-TxtPassword"></span>
                </div>
                <div class="RightAlign">
                    <p>
                        Forget Password?
                    </p>
                </div>
                <div class="form-group justify-content-center">
                    <div>
                        <label class="class-lblLoginMsg text-danger"></label>
                    </div>
                </div>
                <div class="form-group Actions ">
                    <button type="button" class="backAction ">
                        Back
                    </button>

                    <button id="btnLogin" type="button"  class="SignInAction ">
                        Sign In
                    </button>
                </div>
              
                <div class="form-group pb-3">
                </div>
            </form>

        </div>
    </div>

</div>

<script type="text/javascript">

    $(document).ready(function () {
     
        var loginFormValidate = $("#id-loginForm").kendoValidator().data("kendoValidator");

       $("#btnLogin").click(function () {
            ///Validate login form

            if (!loginFormValidate.validate()) {
                return false;
            }

            let loginButtonText = false;
            const postData = {
                prmUserId: $("#id-TxtUserId").val(),
                prmPassword: $("#id-TxtPassword").val()
            }

            $.ajax({
                url: "/Account/Login",
                type: "POST",
                dataType: "JSON",
                data: postData,
                beforeSend: function () {

                    $("#btnLogin").text("Logging In - Please Wait...");
                    $("#btnLogin").css("disabled", true);
                },
                success: function (result) {
                    if (result.data.unknownStatus)
                    {
                        showError(result.data.unknownMessage)
                    }
                    else if (result.data.status)
                    {
                        window.location.href = "/Home/Index";
                        loginButtonText = true;

                    }
                    else {
                        $(".class-lblLoginMsg").text(result.data.message);
                    }
                },
                error: function (error) {
                    console.log(error);
                },
                complete: function () {
                    if (!loginButtonText) {
                        $("#btnLogin").text("Sign In");
                        $("#btnLogin").css("disabled", false);
                    }
                }
            })

        });


    })

    $(document).keypress(function (e) {
        let key = e.which;
        if (key == 13) {
            $("#btnLogin").trigger('click');
        }
    })

</script>