
@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section class="SignInSection">
    <div class="row ">
        <div class="col-md-9 Contain HorizontalyCenter">

            <div class="col-md-5 col-sm-5 col-xs-5 VerticalyCenter  ImgSection">
                <div class="col-md-12">
                    <p class="text">
                        Welcome to
                    </p>
                    <p class="Main-heading">
                        Logistics <span style="font-weight:bold">Solutions</span>
                    </p>

                </div>

            </div>
            <div class="col-md-7  InputSection VerticalyCenter">
                <div class="col-md-9 HorizontalyCenter" style="padding-left:0; padding-right:0">
                    <p class="Heading">
                        Sign In
                    </p>
                    <input type="text" placeholder="UserId/ Name *" class="form-control" />
                    <input type="text" placeholder="Password *" class="form-control" />
                    <div class="RightAlign">
                        <p>
                            Forget Password?
                        </p>
                    </div>
                    <div class=" Actions ">
                        <a href="#" class="backAction ">
                            Back
                        </a>

                        <a href="#" class="SignInAction ">
                            Sign In
                        </a>
                    </div>


                </div>


            </div>
        </div>

    </div>
</section>

